<?xml version="1.0" encoding="utf-8"?><configuration><packageSources><add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" /><add key="AccuV" value="https://accuv.pkgs.visualstudio.com/_packaging/AccuV-Feed/nuget/v3/index.json" /></packageSources><packageSourceCredentials><AccuV><add key="Username" value="accuv.devintegration@nexius365.onmicrosoft.com" /><add key="ClearTextPassword" value="lmhi6xzqjpao7jta7i32agbnunrzgcrccen7hfkxrerlmaxqjn7a" /></AccuV></packageSourceCredentials></configuration>
