@page
@model ServerSentEventsModel
@{
    ViewData["Title"] = "Server Sent Events Demo";
}
<h1>@ViewData["Title"]</h1>

<p>This page demo the server sent events functionality.</p>

<p>Click submit to see how states are being refreshed!</p>

<form>
    <button id="submit" type="submit" class="btn btn-primary">
        Try Server Sent Events!
    </button>
    <br>
    <div id="status"></div>
</form>

<script src="/js/serversentevents.js"></script>
