@page
@model WebSocketsModel
@{
    ViewData["Title"] = "WebSockets Demo";
}
<h1>@ViewData["Title"]</h1>

<p>This page demo the websockets functionality.</p>

<p>Click submit to see how states are being refreshed!</p>

<form>
    <button id="submit" type="submit" class="btn btn-primary">
        Try Websockets!
    </button>
    <br>
    <div id="status"></div>
</form>

<script src="/js/websockets.js"></script>
